@model RunDiary.Models.Run

@{
    ViewBag.Title = "Add Run";
    Layout = "~/Views/Shared/_RunDiary.cshtml";
}

<h2>AddRun</h2>


@using (Ajax.BeginForm("Calendar", "RunDiary",
    new AjaxOptions { UpdateTargetId = "divInterestDetails"}))
{
    @Html.AntiForgeryToken()
    
    @Html.EditorForModel()
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
