@model IEnumerable<RunDiary.Models.Run>
@{
    Layout = "~/Views/Shared/_RunDiary.cshtml";
}

<h1>Here's your Calendar!</h1>
<p>Click on the name of a run to read and/or edit info for that run</p>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="run">
                @Html.ActionLink(item.RunName, "EditRun", new { id = item.RunID })
                @item.RunDate.ToString("M")
                @item.RunID
                @Html.ActionLink("delete", "DeleteRun", new { id = item.RunID })
                
                
            </div>
        </div>
    </div>
}

<div class="row">
    <div id="calendar" class="col-lg-10"></div>
</div>
