@model IEnumerable<RunDiary.Models.Run>
@{
    Layout = "~/Views/Shared/_RunDiary.cshtml";
}

<h1>Here's your "Calendar!"</h1>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-lg-12">
            <div class="run">
                @item.RunID
                @item.RunName 
                @item.RunDate.ToString("M")
            </div>
        </div>
    </div>
}

<div class="row">
    <div id="calendar" class="col-lg-10"></div>
</div>
